.background {
    background-image: url(../image/mohamed-ajufaan-GFcWwwGNu_w-unsplash.svg);
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .header-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 142px;
  }
  .image-background {
    position: absolute;
    width: 100%;
    height: 324px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .absolute {
      width: 100%;
  }
  .image-absolute {
      width: 100%;
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  .bar {
      color: white;
      display: none;
  }
  
  .margin-li {
    margin: 0 15px;
  }
  .text {
    width: 195px;
    height: 59px;
    font-size: 42px;
    margin-left: 142px;
    margin-top: 96px;
  }
  .p-text {
    margin-left: 142px;
    margin-right: 5px;
  }
  .div-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .space {
    width: 2px;
    height: 19px;
    background: black;
    margin-right: 5px;
  }
  /* section */
  
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .left-block {
    width: 444px;
  }
  .section-text {
    width: 374px;
    height: 90px;
    font-size: 42px;
    margin-bottom: 10px;
  }
  .lorem {
    width: 444px;
  }
  .second-text {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .read-more {
    width: 184px;
    height: 50px;
    background-color: #5863f8;
    color: aliceblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .two-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
  }
  .first-image {
    margin-right: 16px;
  }
  .space-second {
      width: 188px;
      height: 50px;
  }
.space-third {
    width:40px;
    height: 60px;
}
/* second-section */
.second-background-div {
    background-image: url(../image/eddi-aguirre-ZAVHbpOn4Jk-unsplash.svg);
    width: 100%;
    height: 612px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .image-background2 {
      position: absolute;
      width:100%;
      height: 612px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  .title-about-us {
    color: #5863f8;
    padding-top: 109px;
    padding-left: 142px;
  }
  .box-title {
    max-width: 530px;
    width: 100%;
    height: 90px;
    font-size: 42px;
    color: aliceblue;
    padding-top: 10px;
    padding-left: 142px;
  }
  .hotel-background {
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863f8;
    margin: 0 auto;
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width:1366px;
    width:100%;
    margin-top: 34px;
  }
  .box {
    width: 260px;
    height: 260px;
    margin-right: 25px;
    background-color: aliceblue;
    text-align: center;
  }
  .child {
      margin-left: 142px;
  }
  .box-lorem {
    margin: 0 auto;
    width: 221px;
    height: 62px;
    color: #b1b1b1;
  }
  .box-text {
    margin: 10px auto;
    width: 156px;
    height: 52px;
    font-size: 18px;
  }